@import "tailwindcss";

@layer base {
  html, body {
    word-break: keep-all;
    overflow-wrap: break-word;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Safe Korean text break rules */
  .keep-all {
    word-break: keep-all;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

